<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlets.MainServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/monitor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OtherServlet</servlet-name>
        <servlet-class>servlets.OtherServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OtherServlet</servlet-name>
        <url-pattern>/other</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>servlets.ServletListener</listener-class>
    </listener>
</web-app>