<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">
    <display-name>Jira Monitor Servlets</display-name>

    <servlet>
        <servlet-name>TodayIssuesServlet</servlet-name>
        <servlet-class>servlets.TodayIssuesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TodayIssuesServlet</servlet-name>
        <url-pattern>/monitor/todayIssues</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CurrentActiveServlet</servlet-name>
        <servlet-class>servlets.CurrentActiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentActiveServlet</servlet-name>
        <url-pattern>/monitor/currentActive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CurrentClosedServlet</servlet-name>
        <servlet-class>servlets.CurrentClosedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentClosedServlet</servlet-name>
        <url-pattern>/monitor/currentClosed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MonthLiderServlet</servlet-name>
        <servlet-class>servlets.MonthLiderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MonthLiderServlet</servlet-name>
        <url-pattern>/monitor/monthLider</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IssueCurrMonthServlet</servlet-name>
        <servlet-class>servlets.IssueCurrMonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IssueCurrMonthServlet</servlet-name>
        <url-pattern>/monitor/issueCurrMonth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IssueClosedCurrMonthServlet</servlet-name>
        <servlet-class>servlets.IssueClosedCurrMonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IssueClosedCurrMonthServlet</servlet-name>
        <url-pattern>/monitor/issueClosedMonth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IssueOpenedCurrMonthServlet</servlet-name>
        <servlet-class>servlets.IssueOpenedCurrMonthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IssueOpenedCurrMonthServlet</servlet-name>
        <url-pattern>/monitor/issueOpenedNow</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VacationServlet</servlet-name>
        <servlet-class>servlets.VacationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VacationServlet</servlet-name>
        <url-pattern>/other/vacation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InactivityServlet</servlet-name>
        <servlet-class>servlets.InactivityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InactivityServlet</servlet-name>
        <url-pattern>/other/inactivity</url-pattern>
    </servlet-mapping>


    <listener>
        <listener-class>servlets.ServletListener</listener-class>
    </listener>
</web-app>